.sBtn {
    background-color:#3ea99f;
    border-style: none;
}

.sBtn:hover {
    text-decoration: underline;
    background-color:#3ea99f;
    border-style: none;
}

/* Break above / below medium devices */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
    #postcardImage {
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media only screen and (min-width: 768px) {
    #postcardImage {
        background-size: contain;
        background-repeat: no-repeat;
    }
}
