.sBtn {
    background-color:#3ea99f;
    border-style: none;
}

.sBtn:hover {
    text-decoration: underline;
    background-color:#3ea99f;
    border-style: none;
}

/* Media query to change background-size */
/* "contain" versus "cover" */
#postcardImage {
    background-size: contain;
    background-repeat: no-repeat;
}
