.stickyNav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navText {
    color:#3ea99f;
}

.navLinks:hover {
    text-decoration: underline;
}

#navBarHomeButton {
    display: contents;
}

#sushiRotation {
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}